<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mt-5">

    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input placeholder="Infome o seu nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>E-mail:</ion-label>
      <ion-input placeholder="Infome a seu e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input placeholder="Infome a sua senha" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cidade:</ion-label>
      <ion-input placeholder="Infome a sua cidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estado:</ion-label>
      <ion-input placeholder="Infome a sua cidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>CEP:</ion-label>
      <ion-input placeholder="Infome o seu cep"></ion-input>
    </ion-item>


    <div class="w-100 text-center mt-2">
      <ion-button color="primary" class="m-auto">Enviar</ion-button>
    </div>
  </div>
</ion-content>
