<ion-header>
  <ion-toolbar color="primary" >
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mt-5">
    <ion-item>
      <ion-label>E-mail:</ion-label>
      <ion-input placeholder="Infome o seu e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input placeholder="Infome a sua senha"></ion-input>
    </ion-item>

    <div class="w-100 text-center mt-2">
      <ion-button color="primary" class="m-auto">Entrar</ion-button>
    </div>
  </div>
</ion-content>
