<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Listagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mt-5">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Usuários Cadastrados</ion-card-subtitle>
        <ion-card-title>Fernando Moura</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        E-mail: fernandomoura@gmail.com<br>
        Cidade: Brasília<br>
        Estado: DF<br>
        CEP: 72.000-000
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Usuários Cadastrados</ion-card-subtitle>
        <ion-card-title>Julio Cesar</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        E-mail: julio@gmail.com<br>
        Cidade: Brasília<br>
        Estado: DF<br>
        CEP: 72.000-000
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Usuários Cadastrados</ion-card-subtitle>
        <ion-card-title>Cristiana Silva</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        E-mail: cris_silva@gmail.com<br>
        Cidade: Brasília<br>
        Estado: DF<br>
        CEP: 72.000-000
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Usuários Cadastrados</ion-card-subtitle>
        <ion-card-title>Reginaldo Veras</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        E-mail: reginhoveras@gmail.com<br>
        Cidade: Brasília<br>
        Estado: DF<br>
        CEP: 72.000-000
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
